.logo{
    width: 8.43rem;
    height: 5.12rem;
}

.options li {
    list-style: none;
}

.options a {
    text-decoration: none;
    color: #8987A1;
    font-family:Arial, Helvetica, sans-serif
}
.options ul{
    display: flex;
justify-content: space-between;
gap: 40px;
}
.nav{
    width: 71.25rem;
    height: 4.43rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.black{
    color: black;
}
.banner-text{
    width: 35.62rem;
    height: 18.68rem;
}
.big-font{
    font-family: "Noto Serif", serif;
    font-weight: 600;
    font-size: 4rem;
    margin: 10px;
}

.orange{
    color: #E95A08;
}

.banner-desc{
    font-family: "Inter", sans-serif;
color:#8987A1;
margin-left: 10px;
margin-right: 37px;
font-size: 1.37rem;
}
.banner-desc2{
    font-family: "Inter", sans-serif;
color:#8987A1;
margin-left: 10px;
margin-right: 37px;
font-size: 1.37rem;
text-align: center;

}

.banner{
    display: flex;
    align-items: center;
    width: 71.25rem;
    margin: auto;
    margin-top: 100px;
}
.banner-img{
    width: 35.69rem;
    height: 22.18rem;
}
.title{
    font-family: "Noto Serif", serif;
    font-size: 3.12rem;
    margin-bottom: 10px;
}
.text-area{
    width:71.25rem;
    height: 8.62rem;
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.card{
    width: 16.87rem;
    height: 30.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.card-img{
    width: 100%;
    height: 20.12rem;
}
.card-title{
font-family: "Inter", sans-serif;
font-size: 1.37rem;
margin: 5px;
font-weight: 700;
}

.btn-primary{
    width: 100%;
    height: 50px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    background-color: #E95A08;
    color: #FFFF;
    border-style: none;
    margin-top: 10px;
}
.low-opacity{
    font-weight:300 ;
    color: #111111;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin:100px;
    margin-bottom: 200px;
}

.flower-store{
    width: 33.75rem;
    height: 37.31rem;
}
.badge{
    width: 17.87rem;
    height: 17.87rem;
    position: absolute;
    top: 119rem;
    left: 450px;
    
}
.container-texts{
    width: 33.75rem;
    height: 32.56rem;
}
.flower-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 71.25rem;
    height: 37.31rem;
    margin: auto;
}

.flower-plants{
    font-family: "Noto Serif", serif;
    font-size: 3.12rem;

}
.points{
    font-family: "Inter", sans-serif;
    font-size: 1.37rem;
    color: #8987A1;
}

.latest-deal{
    width:55.5rem;
    height: 8.25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.deal-font{
    margin-bottom: 5px;
     font-family: "Noto Serif", serif;
     font-size: 3.12rem;

}
.deal-desc{
    margin: 70px;
     margin-top: 5px;
     text-align: center;
     font-family: "Inter", sans-serif;
    font-size: 1.37rem;
    color: #8987A1;
}

.bloom{
    background-image: url(images/deal-bloom.png);
    background-repeat: none;
    background-size: cover;
    height: 12.87rem;
    width: 22.87rem;
    border-radius: 10px;
    margin-bottom: -5px;
    margin-top:20px;
}
.ana{
    background-image: url(images/deal-ana.png);
     background-repeat: none;
    background-size: cover;
    height: 12.87rem;
    width: 22.87rem;
    border-radius: 10px;
    margin-top: 10px;
}

.opacity{
    height: 12.87rem;
    width: 22.87rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.zabo-plant{
    background-image: url(images/deal-zabo.png);
    height: 26.43rem;
    width: 47.06rem;
    border-radius: 10px;
    margin-top: 20px;
}

.opacity2{
    height: 26.43rem;
    width: 47.06rem;
     background: rgba(0, 0, 0, 0.4);
     border-radius: 10px;
}
.flower-mn-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    
}
.bloom-text{
    color: #FFFF;
    font-family: "Noto Serif", serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 70px;
}

.shop{
    color: #FFFF;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.white-text{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
}
.bloom-ana{
    margin-right: -5px;
}
.zabo-font{
    color: #FFFF;
    font-family: "Noto Serif", serif;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 180px;
}
.zabo-shop{
    color: #FFFF;
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 500;
}
.zabo-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.cover-field{
    background-image: url(images/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 33.31rem;
    width:  90.25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-title{
   font-family: "Noto Serif", serif;
    font-size: 50px; 
     color: #FFFF;
     font-weight: 600;
}

.input{
    width: 644px;
    height: 10px;
    padding:20px
}
.input-btn{
    width: 180px;
    height: 50px;
    background-color: #E95A08;
    color: #FFFF;
    border-style: none;
    margin-left: -5px;
}
.input-btn a{
    text-decoration: none;
     color: #FFFF;
     font-size: 16px;
     font-weight: 500;

}
.input-field{
    
    margin-top: 30px;
}
.footer-logo{
    width: 135px;
    height: 82px;
}
.footer-desc{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    color: #8987A1;
}
.footer-text{
    width: 359px;
    height: 179px;
}

.home{
    width: 128px;
    height: 24px;
    border-style: none;
    margin-bottom: 20px;
}
.footer-input{
    width: 160px ;
    height: 179px;
     display: flex;
     flex-direction: column;
}
.footer-input2{
     width: 160px ;
    height: 179px;
    display: flex;
     flex-direction: column;
}

.footer-media{
     width: 200px ;
    height: 179px;
display: grid;
grid-template-columns: repeat(4, 1fr);
align-items: center;
}

.footer{
    width: 1120px;
    height: 249px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}




@media screen and (max-width: 576px)   {

    .small{
        display: none;
    }
    
.nav{
    width: 56rem;
    margin-left: 40px;
    margin-top: 40px;
}

.banner{
    flex-direction: column-reverse;
}
.banner-img{
    width: 850px;
    height: 700px;
}
.banner-text{
    width: 50rem;
    margin-top: 40px;
    margin-left: -270px;
}
.text-area{
    width: 42.25rem;
    margin-left: 170px;
}
.cards{
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-left: 190px;
}
.badge{
    display: none;
}
.flower-container{
    flex-direction: column;
    margin-bottom: 600px;
    margin-left: -80px;
}
.points{
    margin-left: -20px;
}
.latest-deal{
    width: 45rem;
    margin-left: 125px;
}

.flower-mn-box{
    flex-direction: column;
    margin-left: 490px;
}
.bloom{
    margin-bottom: 50px;
}
.cover-field{
    width: 62.25rem;
}

.footer{
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;
    margin-left: 40px;
    margin-bottom: 100px;
}
}










@media screen and (max-width: 768px)   {

    .small{
        display: none;
    }
    
.nav{
    width: 42rem;
    margin-left: 55px;
    margin-top: 40px;
}

.banner{
    flex-direction: column-reverse;
}
.banner-img{
    width: 700px;
    height: 600px;
    margin-right: 230px;
}
.banner-text{
    width: 45rem;
    margin-top: 40px;
    margin-left: -340px;
}
.text-area{
    width: 42.25rem;
    margin-left: 70px;
}
.cards{
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-left: 190px;
}
.badge{
    display: none;
}
.flower-container{
    flex-direction: column;
    margin-bottom: 600px;
    margin-left: -80px;
}
.points{
    margin-left: -20px;
}
.latest-deal{
    width: 45rem;
    margin-left: 125px;
}

.flower-mn-box{
    flex-direction: column;
    margin-left: 490px;
}
.bloom{
    margin-bottom: 50px;
}
.cover-field{
    width: 62.25rem;
}

.footer{
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;
    margin-left: 40px;
    margin-bottom: 100px;
}
}